<div class="row marketing">
    <div class="col col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="glyphicon glyphicon-calendar"></i> Buvę susitikimai</div>
            <div class="panel-group" id="accordion2">
                {{ content }}
            </div>
        </div>
    </div>