<div class="col col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Susitikimų kalendorius</div>
        <div class="panel-body">
            <div class="text-center">
                <a href="https://www.google.com/calendar/embed?src=h3achhhuga1du6r2l5hndoah48%40group.calendar.google.com&ctz=Europe/Vilnius" target="_blank"><img width="60" src="media/img/calendar.png" /></a>
            </div>
        </div>
    </div>
</div>