<div class="col col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="glyphicon glyphicon-exclamation-sign"></i> Pasiūlyk savo temą</div>
        <div class="panel-body">
            <div class="text-center">
                <a href="https://docs.google.com/forms/d/1AcJ8B8QyBKfbTZWcbc1sWFIzPMgb5Car1tn0FCJ0AKo/" target="_blank"><img src="media/img/google_drive.jpg" /></a>
            </div>
        </div>
    </div>
</div>