<div class="jumbotron">
    <h1>KaunasPHP v.4</h1>
    <h3>2013-06-20 19:00, @ <a href="https://www.facebook.com/StartupSpace" target="_blank">KTU Startup Space</a></h3>
    <p><br/><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plane"></i> Registruotis į susitikimą</button></p>
</div>