<div class="jumbotron">
    <h1>KaunasPHP v.14</h1>
    <h3>2014-05-14 19:00, @ <a href="http://goo.gl/axOSIl">Brastos g. 15, LT-47183 Kaunas (NFQ)</a></h3>
    <h4>After Party</h4>
    <h5>Susitikimo rėmėjas NFQ vaišins užkandžiais ir gėrimais</h5>
    <h5>Susitikimo rėmėjas <a target="_blank" href="http://www.nfq.lt">NFQ grupė – tarptautinė programavimo paslaugų ir interneto rinkodaros kompanija</a></h5>
    <p><br/><a href="https://www.facebook.com/events/284446038402946/" class="btn btn-success"><i class="glyphicon glyphicon-plane"></i> Registruotis į susitikimą</a></p>
</div>
