<div class="jumbotron">
    <h1>KaunasPHP v.13</h1>
    <h3>2014-04-09 19:00, @ <a href="http://goo.gl/M98mji">A. Jakšto g. 6, Kaunas</a></h3>
    <h4>After Party</h4>
    <h5>2013-04-09 20:30, @ ???</h5>
    <h5>Susitikimo rėmėjas <a target="_blank" href="http://www.inviqa.com">Inviqa - PHP Web Development & PHP Training and PHP Consulting</a></h5>
    <p><br/><a href="https://www.facebook.com/events/276363079192502/" class="btn btn-success"><i class="glyphicon glyphicon-plane"></i> Registruotis į susitikimą</a></p>
</div>