<div class="jumbotron">
    <h1>KaunasPHP v.8</h1>
    <h3>2013-11-20 19:00, @ <a href="https://www.facebook.com/StartupSpace" target="_blank">KTU Startup Space</a></h3>
    <h4>After Party</h4>
    <h5>2013-11-20 20:30, @ <a href="https://www.google.com/maps?t=m&q=Pizza+Jazz,+restoranas,+Verus+Gustus&dg=opt&ie=UTF8&hq=Pizza+Jazz,+restoranas,+Verus+Gustus&hnear=&z=16&vpsrc=0&iwloc=A&cid=3016387913031593525" target="_blank">Studentų Pizza Jazz</a></h5>
    {#<h5>Nemokamu alumi vaišins kompanija <a target="_blank" href="http://www.datadog.lt">DATA DOG</a></h5>#}
    <p><br/><a href="https://www.facebook.com/events/675732392451752/" class="btn btn-success"><i class="glyphicon glyphicon-plane"></i> Registruotis į susitikimą</a></p>
</div>