<div class="jumbotron">
    <h1>KaunasPHP v.18</h1>
    <h3>2014-09-10 19:00, @ <a href="http://goo.gl/M98mji">A. Jakšto g. 6, Kaunas (Kolpingo kolegija)</a></h3>
    <h3>Pranešimai:</h3>
    <div>1. Laurynas Tretjakovas - Introduction to Hack and HHVM<br/>2. Gediminas Morkevicius - Why we use golang</div>
    <h4>After Party @ Kauno senamiestis</h4>
    {#<h5>Susitikimo rėmėjas <a target="_blank" href="http://www.datadog.lt">DATADOG</a></h5>#}
    <p><br/><a href="https://www.facebook.com/events/698276510260656/" class="btn btn-success"><i class="glyphicon glyphicon-plane"></i> Registruotis į susitikimą</a></p>
</div>
