<div class="col col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="glyphicon glyphicon-heart-empty"></i> Socializacija</div>
        <div class="panel-body">
            <a href="https://twitter.com/kaunasphp" target="_blank"><img src="media/img/twitter.png" /></a>
            <a href="https://www.facebook.com/groups/kaunasdev/" target="_blank"><img src="media/img/facebook.png" /></a>
        </div>
    </div>
</div>
</div>