<div class="container-narrow">
    <div class="header">
        <div class="row">
            <div class="col col-lg-4 text-left"><img src="media/img/kaunasphp.png" alt="KaunasPHP" /></div>
        </div>
    </div>