<div class="container-narrow">
    <div class="header">
        <div class="row">
            <div class="col col-lg-8">
                <h1>KaunasPHP</h1>
            </div>
            <div class="col col-lg-4 text-right"><img src="media/img/kaunasphp.png" /></div>
        </div>
    </div>